@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cuprum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lobster&display=swap");


body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.font_righteous {
  font-family: "Righteous", cursive;
}


.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center_wrapper {
  width: 1000px;
  margin: 0 auto;
}


    /* CARROUSEL */


.carrousel_wrapper {
  height: 100px;
  overflow: hidden;
  color: white;
}

.carrousel_image {
  opacity: 0.6;
  background-size: cover !important;
  background-blend-mode:difference;
 
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 260px;
  font-family:Cuprum;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid white;
  text-shadow: 2px 2px #3c3c3c;
}


.name .wrapper {

 padding: 60px;
  color: #fff;
  font-size: 150px;
  text-transform: uppercase;
}

